/* CSS Variables */

:root {
  --font-family: 'Atkinson Hyperlegible', sans-serif;
  --primary-color: hsl(231, 75%, 53%);
  --secondary-color: hsl(209, 100%, 55%);
  --primary-dark-color: hsl(230, 75%, 36%);
  --tertiary-color: hsl(0, 0%, 97%);
  --dark-color: #000;
  --light-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.7;
  scroll-behavior: smooth;
}

h1,
h2 {
  line-height: 1.2;
  margin-bottom: 15px;
}

p {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 30px;
}

.navbar ul {
  display: flex;
}

.navbar .logo img {
  width: 200px;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 5px;
  text-transform: uppercase;
}

.navbar a.active {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.hero {
  height: 100vh;
}

.content {
  margin: 30px 40px;
  padding: 40px 50px;
}

.content h1 {
  font-size: 5rem;
  margin-bottom: 30px;
}

.content p {
  margin-bottom: 40px;
  max-width: 400px;
  font-size: 1.1rem;
}

/* About */

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.about-content h2,
.services h2,
.contact h2 {
  font-size: 4.5rem;
}

.about-text {
  max-width: 600px;
  font-size: 1.1rem;
}

.about-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 8;
  object-fit: cover;
}

/* Cards */

.services .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services .card {
  padding: 30px;
  margin: 15px;
  border: 2px solid #eee;
  text-align: center;
}

.services .card i {
  margin-bottom: 20px;
}

.services .card h3 {
  font-size: 1.7rem;
}

.services .card p {
  margin-top: 15px;
  line-height: 1.1;
}

/* Contact Form */

.contact .form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.form-container .row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-container .form-control {
  margin-bottom: 20px;
  width: 100%;
}

.form-control label {
  display: block;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.contact .contact-details > div {
  margin-bottom: 20px;
}

.contact .contact-details i {
  margin-right: 10px;
}

.contact .btn i {
  margin-left: 5px;
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .social-media i {
  padding: 0 5px;
}

/* Media Queries */

/* 992px - Laptops */
@media (max-width: 992px) {
  .flex-columns .row {
    flex-direction: column;
    height: auto;
  }

  .flex-columns img {
    display: none;
  }

  .content h1 {
    font-size: 2.5rem;
  }

  .about-content {
    flex-direction: column;
  }

  .services .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 768px - Tablets */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .content h1 {
    margin-top: 20px;
  }

  .content p {
    margin-bottom: 10px;
  }

  .about h2,
  .services h2,
  .contact h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .flex-items .row {
    flex-direction: column;
  }
}

/* 500px - Mobile */

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    font-size: 0.76rem;
    padding: 10px;
  }

  .content p {
    display: none;
  }

  .services .row {
    grid-template-columns: 1fr;
  }

  .contact .form-container {
    grid-template-columns: 1fr;
  }

  .footer-container {
    flex-direction: column;
  }
}
